@font-face {
    font-family: "Roboto Slab";
    src: url("./RobotoSlab-VariableFont_wght.ttf");
}

@font-face {
    font-family: "EB Garamond";
    src: url("./EBGaramond-VariableFont_wght.ttf");
}

.absolute {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /*pointer-events: none;*/
    --player-color: #db2d81;
    --player-color-semi: #db2d816d;
    --player-bg: #902669;
    --player-bg-muted: #531e40;
}

.chat-vignette {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 0;
    pointer-events: none;
}

@keyframes appear-opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes appear-vignette {
    0% {
        opacity: 0;
        backdrop-filter: blur(0px);
    }

    100% {
        opacity: 1;
        backdrop-filter: blur(10px);
    }
}

@keyframes appear-left {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.chat-vignette.bg {
    animation: appear-vignette .5s;
    backdrop-filter: blur(10px);
    background: linear-gradient(rgba(0, 0, 0, 0.238), rgba(0, 0, 0, 0.689));

}

.chat-vignette.fg {
    background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
    z-index: 1;
    height: 50vh;
}

.chat-portrait {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60%;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
    pointer-events: none;
    background-image: url("img/death/0001.png");
    background-position: center;
    animation: appear-left .5s;
}

.chat-name {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60%;
    height: 20vh;
    z-index: 2;
    pointer-events: none;
    font-family: "EB Garamond";
    font-size: 50px;
    color: rgb(243, 32, 60);
    font-weight: 500;
    text-align: center;
    line-height: 20vh;
}

.chat-name.right {
    left: auto;
    right: 0;
}

.chat-wrapper {
    font-family: "Roboto Slab";
    width: 40%;
    height: 90vh;
    overflow-y: hidden;
    overflow-x: hidden;
    color: white;
    font-size: 20px;
    position: absolute;
    bottom: 10vh;
    left: 50%;
    user-select: none;
    transform: translateX(-50%);
    z-index: 2;
    pointer-events: all;
    animation: appear-opacity .5s;
}

.chat-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
}

.chat-content>div {
    margin-bottom: 10px;
    width: fit-content;
    max-width: 80%;
    margin-top: calc(-1*var(--calc-height));
    transform: translateY(var(--calc-height));
}

.chat-options {
    padding: 0.5em;
}

.chat-options div {
    padding: 1em 1.5em;
    margin-bottom: 10px;
    width: fit-content;
    align-self: flex-end;
    background-color: var(--player-bg-muted);
    outline: 2px solid var(--player-color);
    border-radius: 10px;
}

.chat-options div:hover {
    background-color: var(--player-bg);
    outline: 2px solid var(--player-color);
    cursor: pointer;
}

.chat-content>div.appear {
    transition: margin-top .5s, transform .5s;
    margin-top: 0px;
    transform: translateY(0px);
}

.chat-options {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.chat-message {
    padding: 1em 1.5em;
    background-color: var(--bg-color);
    border: 2px solid var(--outline-color);
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    --calc-height: 45px;
}

.chat-message.request {
    background-color: #000000;
    border-color: var(--player-color-semi);
    align-self: flex-end;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 0px;
}

.chat-message .highlight {
    font-weight: bold;
}

.chat-content img {
    max-width: 100%;
}

.chat-exit-button {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    padding: 0.5em;
    font-size: 30px;
    border-radius: .5em;
    font-family: "EB Garamond";
    transition: background-color .5s, opacity .5s;
    z-index: 3;
    pointer-events: all;
    display: flex;
    align-items: center;
    margin: 1em;
}

.chat-exit-button img {
    height: 1em;
    margin-right: 0.5em
}

.chat-exit-button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.063);
}

.chat-exit-button.hidden {
    opacity: 0;
    pointer-events: none;
}