.chat-wrapper {
    width: 30vw;
    height: 50vh;
    overflow-y: hidden;
    overflow-x: hidden;
    color: white;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    left: 20%;
    user-select: none;
    transform: translateX(-50%);
    background-color: rgb(22, 22, 22);
}

.chat-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
}

.chat-content > div {
    padding: 10px;
    margin-bottom: 10px;
    width: fit-content;
    max-width: 80%;
    margin-top: calc(-1*var(--calc-height));
    transform: translateY(var(--calc-height));
}

.chat-options div {
    padding: 10px;
    margin-bottom: 10px;
    width: fit-content;
    align-self: flex-end;
    background-color: rgb(20, 20, 20);
    outline: 2px solid rgba(255, 255, 255, 0.249);
    border-radius: 10px;
}

.chat-options div:hover{
    background-color: rgb(53, 53, 53);
    outline: 2px solid rgba(255, 255, 255, 0.831);
    cursor: pointer;
}

.chat-content > div.appear {
    transition: margin-top .5s, transform .5s;
    margin-top: 0px;
    transform: translateY(0px);
}

.chat-options {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.chat-message {
    background-color: rgb(48, 48, 48);
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    --calc-height: 45px;
}

.chat-message.request {
    background-color: rgb(14, 84, 77);
    align-self: flex-end;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 0px;
}

.chat-message .highlight {
    font-weight: bold;
}

.chat-content img {
    max-width: 100%;
}