.notebook-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 65vh;
    height: 50vh;
    z-index: 2;
    background-image: url("img/notebook_closed.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 6% 7% 8% 7%;
    box-sizing: border-box;
}

.notebook-wrapper.open {
    background-image: url("img/notebook.png");
}

.notebook-wrapper:not(.open) .notebook-contents {
    display: none;
}

.notebook-contents {
    width: 100%;
    height: 100%;
    background-color: tomato;
}

.notebook-page {
    width: 50%;
    height: 100%;
    border: 3px solid #000000;
}