@font-face {
    font-family: 'Caveat';
    src: url('./Caveat-VariableFont_wght.ttf');
}

.notebook-wrapper {
    font-family: 'Caveat';
    font-size: 28px;
    color: black;
    user-select: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 22em;
    z-index: 2;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    box-sizing: border-box;
}

.notebook-bg {
    height: 100%;
    position: relative;
    top: 0;
    right: 0;
}

.notebook-wrapper:not(.open) .notebook-contents {
    display: none;
}

.notebook-contents {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2.8em 3em 3em 3em;
    display: flex;
}

.notebook-page-wrapper {
    width: 50%;
    height: 100%;
    transition: background-color 0.1s;
}

.notebook-page-wrapper.active:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.477);
}

.notebook-page {
    width: 100%;
    height: 100%;
    line-height: .8em;
    padding: .9em;
}

.notebook-page.hidden {
    display: none;
}

.notebook-page h1 {
    width: 100%;
    text-align: center;
    font-size: 1em;
    margin: 0;
    padding: 0;
}

.notebook-page ul {
    padding-left: 1em;
    list-style-type: "- ";
}

.notebook-page li {
    margin-block-end: 0.5em;
}