* {
    box-sizing: border-box;
}

body {
    max-height: 56.25vw;
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.87);
    background-color: #000000;
    overflow: hidden;
}

#app {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}

.home-sign {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    transform: translateY(-30px);
}

.home-sign:hover {
    cursor: pointer;
    transform: rotate(-5deg) translateY(-10px);
    filter: brightness(1.8);
}

